body{width:100% background:url(plugin/b1.jpg) repeat-x;background:#e8e8e8

}

#header{width:100%;height:130px;border:1px solid;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;border-top-left-radius:6px;border-top-right-radius:6px;-khtml-border-top-left-radius:6px;-khtml-border-top-right-radius:6px;background-color:
    
    #ab183d;background-color:#ab183d;border-color:#000;cursor:pointer
}
    
    #head-title{font-size:x-large;text-decoration:none;padding-top:20px;padding-left:30px;font-family:Georgia,"Nimbus Roman No9 L","Times New Roman",Times,serif;color:#fff
    }
    
    #font{margin-left:10px}
    
    #template{text-align:left;width:100%;margin:10px auto 0 auto;height:120px}
    
    #head-description{float:right;font-size:20px;font-style:italic;padding-top:5px;padding-right:25px;font-family:Verdana,Arial,Helvetica,sans-serif}
    
    #body{margin:0;text-align:center;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:12px;background:#fff;width:100% background:url(plugin/b1.jpg) repeat-x}
    
    h1{font-size:18px;font-weight:400}
    
    h2{font-size:16px;font-weight:400}
    
    h3{font-size:14px;font-weight:400}
    
    h4{font-size:12px;font-weight:400}
    
    h5{font-size:11px;font-weight:400}
    h6{font-size:10px;font-weight:400}
    a{text-decoration:none}
    
    a:hover{text-decoration:underline}style="height:auto; width:1000px; margin:0" .error-doc{padding:40px 15px;border:1px solid}
    
    #clear-end{clear:both}
    
    #footer{width:80%;margin-left:30px;padding-top:20px;clear:both;text-align:center;color:#000}
    
    #copy{font:Verdana,Arial,Helvetica,sans-serif;font-weight:700;color:#666}
    
    #ssc a{color:#0d4a01}
    
    #ssc a:hover{color:#f50c0c}
    
    #first{border:3px solid #bbe4ff;float:left;width:300px;height:300px;font-size:12px;font-family:Verdana,Arial,Helvetica,sans-serif;border:2px solid #d2691e;border-radius:25px;margin-top:10px}
    
    #first h2{color:#fff;font-size:12px;font-weight:700;text-align:left;padding:3px 0 8px 5px;margin:0}
    
    #second{border:3px solid #bbe4ff;float:left;width:300px;height:300px;font-size:12px;font-family:Verdana,Arial,Helvetica,sans-serif;border:2px solid #d2691e;border-radius:25px;margin-top:10px;margin-left:38px}
    
    #second h2{color:#fff;font-size:12px;font-weight:700;text-align:left;padding:3px 0 8px 5px;margin:0}
    
    #third{border:3px solid #bbe4ff;float:left;width:300px;height:300px;font-size:12px;font-family:Verdana,Arial,Helvetica,sans-serif;border:2px solid #d2691e;border-radius:25px;margin-top:10px}
    
    #third h2{color:#fff;font-size:12px;font-weight:700;text-align:left;padding:3px 0 8px 5px;margin:0}
    
    #box-head1{font-size:x-large;background-color:#930;height:40px;color:#fff;padding-top:5px;border:2px solid;border-radius:25px;margin-top:-1px}
    
    #box-head2{font-size:x-large;background-color:#930;height:40px;color:#fff;padding-top:5px;border:2px solid;border-radius:25px;margin-top:-1px}
    
    #box-head3{font-size:x-large;background-color:#930;height:40px;color:#fff;padding-top:5px;border:2px solid;border-radius:25px;margin-top:-1px}
    
    #hmenu{height:55px;background-color:#8c384d;margin-top:0;width:1002px}
    
    #hmenu ul{margin:0;padding:0;list-style:none;float:left}
    
    #hmenu ul.hmenu{padding-left:30px}
    
    #hmenu li{position:relative;z-index:9;margin:0;padding:0;display:block;float:left}
    
    #hmenu li:hover>ul{left:-2px}
    
    #hmenu li div{list-style:none;float:left;position:absolute;top:50px;left:0;width:208px;z-index:11;visibility:hidden;padding:0 0 9px 7px;background:url(submenu-bottom.png) no-repeat 7px bottom;margin:0 0 0 -9px}
    
    #hmenu li:hover>div{visibility:visible}
    
    #hmenu a{position:relative;z-index:10;height:55px;display:block;float:left;padding:0 10px 0 10px;line-height:55px;text-decoration:none}
    
    #hmenu span{font:normal 12px 'Lucida Sans Unicode','Lucida Grande',Helvetica,Arial,sans-serif;padding-top:18px;color:#fff;font-weight:700;text-transform:uppercase;display:block;cursor:pointer;background-repeat:no-repeat}
    
    #hmenu ul a:hover span{color:#00414e}
    
    #hmenu li{background:url(nav_separator.png) top left no-repeat}
    
    #hmenu li.last span{background:url(nav_separator.png) top right no-repeat;padding:18px 10px 16px 0}
    
    #horizontal{height:100px;width:950px;border:3px solid #bbe4ff;border:2px solid #d2691e;border-radius:25px;margin-top:30px}
    
    #result ul{list-style:none;float:left;padding-left:4px;font-weight:700}
    
    #result ul li a{list-style:none;float:left;padding-left:4px;font-weight:700;color:#000}
    
    #result ul li a:hover{list-style:none;float:left;padding-left:4px;font-weight:700;color:#903;font-size:16px}